# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
filepath = "../output_data/cities.csv"
city_weather_df = pd.read_csv(filepath)
city_weather_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,New Norfolk,AU,-42.78,147.06,53.01,75,93,1.01,1603018679
1,1,Vila Velha,BR,-20.33,-40.29,68.00,94,75,5.82,1603018500
2,2,Aquiraz,BR,-3.90,-38.39,84.20,58,40,23.04,1603018679
3,3,Harper,LR,4.38,-7.72,80.20,84,57,8.95,1603018680
4,4,Marsh Harbour,BS,26.54,-77.06,81.90,78,100,16.62,1603018680
...,...,...,...,...,...,...,...,...,...,...
543,543,Yuli,NG,9.70,10.27,94.89,40,1,3.20,1603018835
544,544,Haapiti,PF,-17.57,-149.87,75.20,83,82,3.36,1603018835
545,545,Sananduva,BR,-27.95,-51.81,60.37,70,67,8.25,1603018835
546,546,Imeni Poliny Osipenko,RU,52.42,136.49,29.50,79,99,10.27,1603018836
547,547,Riyadh,SA,24.69,46.72,87.80,14,0,9.17,1603018800

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [25]:
#configure gmaps with G-key
gmaps.configure(api_key=g_key)

#create figure
fig = gmaps.figure()

#variables
city = city_weather_df[['Lat','Long']]
humid = city_weather_df['Humidity'].astype(float)

#heat layer
heat_layer = gmaps.heatmap_layer(city, weights = humid, dissipating = False,
                                max_intensity = 10, point_radius = 1)
fig.add_layer(heat_layer)

#print figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
city_weather_df

,Unnamed: 0,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,New Norfolk,AU,-42.78,147.06,53.01,75,93,1.01,1603018679
1,1,Vila Velha,BR,-20.33,-40.29,68.00,94,75,5.82,1603018500
2,2,Aquiraz,BR,-3.90,-38.39,84.20,58,40,23.04,1603018679
3,3,Harper,LR,4.38,-7.72,80.20,84,57,8.95,1603018680
4,4,Marsh Harbour,BS,26.54,-77.06,81.90,78,100,16.62,1603018680
...,...,...,...,...,...,...,...,...,...,...
543,543,Yuli,NG,9.70,10.27,94.89,40,1,3.20,1603018835
544,544,Haapiti,PF,-17.57,-149.87,75.20,83,82,3.36,1603018835
545,545,Sananduva,BR,-27.95,-51.81,60.37,70,67,8.25,1603018835
546,546,Imeni Poliny Osipenko,RU,52.42,136.49,29.50,79,99,10.27,1603018836
547,547,Riyadh,SA,24.69,46.72,87.80,14,0,9.17,1603018800

In [27]:
#Narrow to temperatures between 70 and 80 degrees
perfect_temp_df = city_weather_df.loc[(city_weather_df["Max Temp"] > 70) &
                                         (city_weather_df["Max Temp"] < 80)]

#Narrow to wind speeds less than 10 mph
perfect_wind_df = perfect_temp_df.loc[perfect_temp_df["Wind Speed"] < 10]

#Narrow to zero clouds
perfect_weather_df = perfect_wind_df.loc[perfect_wind_df["Cloudiness"] == 0]
perfect_weather_df = perfect_weather_df[['City', 'Country', 'Lat', 'Long', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Date']]
perfect_weather_df

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date
21,Yekaterinogradskaya,RU,43.76,44.23,78.80,27,0,5.84,1603018682
23,Ardakān,IR,32.31,54.02,75.20,5,0,6.93,1603018683
24,Shīeli,KZ,44.17,66.75,72.90,19,0,8.66,1603018683
232,Villa María,AR,-32.41,-63.24,77.00,73,0,7.00,1603018737
342,Yangi Marg`ilon,UZ,40.43,71.72,71.60,24,0,3.40,1603018767
397,Veinticinco de Mayo,AR,-35.43,-60.17,73.00,81,0,5.01,1603018781
436,Bahía Honda,CU,22.90,-83.16,76.66,86,0,6.93,1603018793
463,Isangel,VU,-19.55,169.27,70.84,70,0,7.40,1603018806
501,San Juan,AR,-31.54,-68.54,78.12,30,0,2.17,1603018825
529,Rāvar,IR,31.27,56.81,75.34,12,0,9.42,1603018832

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df = perfect_weather_df
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
21,Yekaterinogradskaya,RU,43.76,44.23,78.80,27,0,5.84,1603018682,
23,Ardakān,IR,32.31,54.02,75.20,5,0,6.93,1603018683,
24,Shīeli,KZ,44.17,66.75,72.90,19,0,8.66,1603018683,
232,Villa María,AR,-32.41,-63.24,77.00,73,0,7.00,1603018737,
342,Yangi Marg`ilon,UZ,40.43,71.72,71.60,24,0,3.40,1603018767,
397,Veinticinco de Mayo,AR,-35.43,-60.17,73.00,81,0,5.01,1603018781,
436,Bahía Honda,CU,22.90,-83.16,76.66,86,0,6.93,1603018793,
463,Isangel,VU,-19.55,169.27,70.84,70,0,7.40,1603018806,
501,San Juan,AR,-31.54,-68.54,78.12,30,0,2.17,1603018825,
529,Rāvar,IR,31.27,56.81,75.34,12,0,9.42,1603018832,

In [33]:
#Pull hotels using Google API
#list to hold resul
hotel=[]

#Set parameters
params = {
    "radius": 5000,
    "types": "hotel",
    "key": g_key
}

# Use the lat/lng from hotel_df
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    long = row["Long"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{long}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request
    hotel_name = requests.get(base_url, params=params).json()
    hotel.append(hotel_name["results"][0]["name"])

In [35]:
hotel_df["Hotel Name"] = hotel
hotel_df

,City,Country,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
21,Yekaterinogradskaya,RU,43.76,44.23,78.80,27,0,5.84,1603018682,Yekaterinogradskaya
23,Ardakān,IR,32.31,54.02,75.20,5,0,6.93,1603018683,Meybod
24,Shīeli,KZ,44.17,66.75,72.90,19,0,8.66,1603018683,Shieli
232,Villa María,AR,-32.41,-63.24,77.00,73,0,7.00,1603018737,Villa María
342,Yangi Marg`ilon,UZ,40.43,71.72,71.60,24,0,3.40,1603018767,Fergana
397,Veinticinco de Mayo,AR,-35.43,-60.17,73.00,81,0,5.01,1603018781,Veinticinco de Mayo
436,Bahía Honda,CU,22.90,-83.16,76.66,86,0,6.93,1603018793,Harlem
463,Isangel,VU,-19.55,169.27,70.84,70,0,7.40,1603018806,Isangel
501,San Juan,AR,-31.54,-68.54,78.12,30,0,2.17,1603018825,San Juan
529,Rāvar,IR,31.27,56.81,75.34,12,0,9.42,1603018832,Ravar

In [37]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [39]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))